shamefully-hoist = true

# slected Scopes: api & read_registry
# @media:registry=https://gitlab.ugaming.io/api/v4/projects/643/packages/npm/
# //gitlab.ugaming.io/api/v4/projects/643/packages/npm/:_authToken=${BOT_PRIVATE_TOKEN}
