@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  // SIZE
  $size-sm: 640px;
  $size-md: 768px;
  $size-lg: 1024px;
  $size-xl: 1280px;
  $size-2xl: 1536px;

  // Z-INDEX
  --zBase: 100;
  --zPageLoadProgress: calc(var(--zBase) + 900);
  --zDialog: calc(var(--zBase) + 30);
  --zDialogOverlay: calc(var(--zDialog) - 2);
  --zDropdown: calc(var(--zBase) + 20);
  --zBackToTopButton: calc(var(--zBase) + 5);
  --zHeader: var(--zBase);
  --zSlideBottom: calc(var(--zBase) - 5);
  --zContent: calc(var(--zBase) - 90);

  --dashboard-header-height: 72px;
  @media (max-width: $size-xl) {
    --dashboard-header-height: 72px;
  }
}

// COLORS
// BASE ON NEXT UI: https://nextui.org/docs/customization/colors
.light {
  --color-primary: 330 99% 49%;
  --color-secondary: 46 100% 61%;
  --color-foreground: 202 24% 9%;
  --color-background: 0 0% 97%;

  --color-default-50: 0 0% 98%;
  --color-default-100: 240 5% 96%;
  --color-default-200: 240 6% 90%;
  --color-default-300: 240 5% 84%;
  --color-default-400: 240 5% 65%;
  --color-default: 240 4% 46%;
  --color-default-700: 240 5% 26%;
  --color-default-800: 240 4% 16%;
  --color-default-900: 240 6% 10%;

  --color-content-1: 0 0% 100%;
  --color-content-2: 240 5% 196%;
  --color-content-3: 240 6% 90%;
}

.dark {
  --color-primary: 330 99% 49%;
  --color-secondary: 46 100% 61%;
  --color-foreground: 0 0% 100%;
  --color-background: 0 0% 0%;
  --color-default-50: 0 0% 98%;
  --color-default-100: 240 5% 96%;
  --color-default-200: 240 6% 90%;
  --color-default-300: 240 5% 84%;
  --color-default-400: 0 0.54% 24.85%;
  --color-default: 0 0% 16%;
  --color-default-700: 0 0% 10%;
  --color-default-800: 240 4% 16%;
  --color-default-900: 0 0% 0%;
}
